/* Todo elemento en HTML se representa como una caja*/
/*CSS = Cascade stylesheet = Hoja de estilo Cascada */
/* colores: sistemas hexadecimal 
0= ausencia de color
f= total color
(0,1,2,3,4,5,6,7,8,9,A,B,C,D,E,F)*/
*{
    background-color: beige;
    color: blueviolet;
}
h1 {
    font-family: sans-serif;
    color:rgb(150, 0, 0) ;
    /* r = RED ; G= GREEEN ; B = BLUE */
}
img {
    height: 130px;/*altura*/
    width: 200px;/*grosor/anchura*/
}   