/* Todo elemento en HTML se representa como una caja*/
/*CSS = Cascade stylesheet = Hoja de estilo Cascada */
/* colores: sistemas hexadecimal 
0= ausencia de color
f= total color*/
*{
    background-color: beige;
    color: blueviolet;
}
h1 {
    font-family: sans-serif;
}
img {
    height: 130px;/*altura*/
    width: 200px;/*grosor/anchura*/
}