/* Todo elemento en HTML se representa como una caja*/
/*CSS = Cascade stylesheet = Hoja de estilo Cascada */
*{
    background-color: rgb(26, 26, 9);
}
h1 {
    font-family: sans-serif;
}
img {
    height: 130px;/*altura*/
    width: 200px;/*grosor/anchura*/
}